/*********** Global Setup ***********/
body ::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

html,
body {
  background-color: #F8F8F8;
  margin: 0;
  padding: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.white-panel {
  margin: 0.5em 0em;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1607843137));
}

.auction-details {
  background-color: #FFFFFF;
  border-radius: 0.5em;
  padding: 0.8em;
  margin: 0.5em 0em;
}
.auction-details .auction {
  display: flex;
  background-color: #F4F5F6;
  border-radius: 0.5em;
  align-items: center;
  padding: 1em;
}
.auction-details .auction .auction-id-label {
  font-size: 1.2em;
  color: #0093E1;
  font-weight: bold;
}
.auction-details .auction .auction-no {
  color: #333333;
  font-weight: bold;
  margin-left: 1em;
}
.auction-details .project {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
}
.auction-details .project div {
  margin: 0.2em 0.5em;
}
.auction-details .project .pr-number {
  color: #0093E1;
  font-weight: bold;
}
.auction-details .project .num {
  color: #333333;
  font-weight: bold;
  text-align: left;
}

@media only screen and (max-width: 1024px) {
  html,
body {
    background-color: #F8F8F8;
    margin: 0;
    padding: 0;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
  .auction-details .auction {
    display: flex;
    flex-direction: column;
    padding: 0.3em;
    align-items: baseline;
  }
  .auction-details .project {
    display: flex;
    flex-direction: column;
  }
}
::-webkit-input-placeholder {
  color: #969696;
}

html input:-webkit-autofill,
body input:-webkit-autofill {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.login-page {
  width: 100%;
  display: flex;
}
.login-page .login-background {
  width: 75%;
  height: 100%;
}
.login-page .login-background .img {
  width: 100%;
  height: 99.3vh;
}
.login-page .login-container {
  margin: auto;
  padding: 0 1em;
}
.login-page .login-container .login-container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.login-page .login-container .tittle {
  color: #0093E1;
  font-weight: bold;
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
}
.login-page .login-container .logo {
  display: flex;
  justify-content: center;
}
.login-page .login-container .logo img {
  margin-top: 1em;
  height: 8em;
}
.login-page .login-container form .login-form {
  justify-content: center;
  text-align: center;
  margin-top: 2em;
}
.login-page .login-container form .login-form .login-label {
  color: #333333;
  font-weight: bold;
  font-size: 1em;
}
.login-page .login-container form .login-form .login-message {
  margin-top: 0.4em;
  color: #969696;
}
.login-page .login-container form .login {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.login-page .login-container form .login .input-container {
  margin: 1em 0em;
  padding: 0.7em 0em;
  align-items: center;
  display: flex;
  background-color: #FFFFFF;
  border-radius: 2em;
}
.login-page .login-container form .login .input-container .icon {
  margin: 0em 1em;
  width: 1em;
  height: 1em;
}
.login-page .login-container form .login .input-container .input-field {
  outline: none;
  border: none;
  margin-right: 1em;
}
.login-page .login-container form .login .sign-in {
  width: 100%;
  margin: 1em 0em;
  border-radius: 2em;
  padding: 0.8em 1em;
  background-color: #0093E1;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}

@media only screen and (max-width: 813px) {
  .login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .login-page .login-background {
    width: 100%;
    height: 100%;
  }
  .login-page .login-background .img {
    display: none;
  }
  .login-page .login-container form .login .input-container {
    border-radius: 0.5em;
  }
}/*# sourceMappingURL=login.css.map */